api:
  # registry_secret_name is the name of the secret containing the docker
  # credentials to pull LRP images
  registry_secret_name: app-registry-credentials

  # unsafe_allow_automount_service_account_token when set to true causes
  # Kubernetes to mount the service account token in the LRP and task
  # containers. This gives the code running there access to the Kubernetes
  # API with the privileges of the application service account.
  #
  # This should generally be left as the default false unless there is a
  # good reason and the implications are understood. It is required when
  # running cf-for-k8s in a kind cluster, for example.
  unsafe_allow_automount_service_account_token: false

  # tls_port is the port used by Eirini to serve its REST API over HTTPS
  # Required when serve_plaintext is set to false or omitted.
  tls_port: 8085

  # plaintext_port is the port used by Eirini to serve its REST API over
  # plain HTTP.  Required when serve_plaintext is set to true.
  plaintext_port: 8080

  # serve_plaintext specifies whether the Eirini REST API should be served
  # over plain HTTP or not.
  #
  # When serve_plaintext is false, which is the default, a secret must be
  # provided for the eirini-certs volume in core/api-deployment.yml. This
  # must have entries tls.ca, tls.crt and tls.key, for the TLS certificate
  # authority, certificate and key respectively, used to serve TLS.
  serve_plaintext: true

  # tls_secret_name is required when api.cc_tls_disabled is false in the
  # core/api-configmap.yml. It must have keys tls.ca, tls.crt and tls.key for
  # the certificate authority, client certificate and private key respectively,
  # used for mTLS with the Cloud Controller.
  tls_secret_name: eirini-internal-tls-certs

  # prometheus_port is the port used to expose Prometheus metrics. When set
  # to 0, the metrics endpoint is disabled.
  prometheus_port: 8080

tasks:
  # completion_callback_retry_limit is the number of times Eirini will retry
  # to call the Cloud Controller completion callback in case the Cloud
  # Controller is unreachable.
  completion_callback_retry_limit: 10

  # ttl_seconds is the number of seconds Eirini will wait before deleting the
  # Job associated to a completed Task.
  ttl_seconds: 5

workloads:
    # default_namespace is the namespace used by Eirini to deploy LRPs that do
    # not specify their own namespace in the request.
    default_namespace: cf-workloads

    namespaces: []
    create_namespaces: false

cc_api:
  # host is the host used by Eirini to call the Cloud Controller.
  host: "capi.cf-system.svc.cluster.local"

  # port is the port used by Eirini to call the Cloud Controller.
  port: 9023

  # scheme is the URL scheme used by Eirini to call the Cloud Controller.
  scheme: http

  # tls_disabled specifies wether Eirini should communicate to the Cloud
  # Controller via HTTPS or not. This should be set to true if TLS is handled
  # transparently, e.g. by a service mesh.
  #
  # When tls_disabled is false, a secret must be provided for the cc-certs
  # volume via tls_secret_name. This must have entries tls.ca, tls.crt and
  # tls.key, for the TLS certificate authority, client certificate and key
  # respectively, used for mTLS with the Cloud Controller.
  tls_disabled: true

  # tls_secret_name is required when api.cc_tls_disabled is false in the
  # core/api-configmap.yml. It must have keys tls.ca, tls.crt and tls.key for
  # the certificate authority, client certificate and private key respectively,
  # used for mTLS with the Cloud Controller.
  tls_secret_name: eirini-internal-tls-certs

instance_index_env_injector:
  certs_secret_name: instance-index-env-injector-certs

resource_validator:
  certs_secret_name: resource-validator-certs

images:
    api: eirini/api@sha256:a5390ff298c536b296304b6837366b41d6e7d2afd9aa210bb41de11cdd639149
    eirini_controller: eirini/eirini-controller@sha256:4083e7b5b6266edd0562412b9c8a26581d86070ea4a8a6034a16c8731eec0ec0
    instance_index_env_injector: eirini/instance-index-env-injector@sha256:8399a2d37104ae1c1825a39ca7bfb9b9cba43a02569b3c4cb312cc572be8b29c
    task_reporter: eirini/task-reporter@sha256:8eb31d5969841a3b6da6868557351e73bb01578458d7d292d3b99a7c64ddf530
    event_reporter: eirini/event-reporter@sha256:70abbf505860cf200b36696d05f4b684e478799daf059b44c79fa80b986846e1
    migration: eirini/migration@sha256:0d81900e01db0a552b524caac6f6ddb28663b396c24fdaa4610ad33f0b481a16
    resource_validator: eirini/resource-validator@sha256:961261111803ad142545a1154661c920974d0454c9c85fde2d477d1aca75d720
